body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.browser {
  width: 100%;
}

.browser input {
  width: 100%;
}

.browser iframe {
  width: 100%;
  height: 600px;
}